<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="Cloud.config">
        <!-- Your Azure subscription ID -->
        <add key="subscriptionId" value="" />
        <!-- The Azure resource group name -->
        <add key="resourceGroup" value= "" />
        <!-- The Power BI Workspace Collection Name -->
        <add key="workspaceCollectionName" value= "Shimano" />
        <!-- The Power BI Workspace Collection Access Key -->
        <add key="accessKey" value= "" />
        <!-- The Power BI Workspace-->
        <add key="workspaceId" value="shimano" />
        <!-- Credentials to connect to datasource within Power BI -->
        <add key="username" value="lennard.s.leocadio@test0000000000.onmicrosoft.com" />
        <add key="password" value="Leon@164" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>